/* You can add global styles to this file, and also import other style files */
body{
    background-image: url("381926.jpg");
    height: fit-content;
    width: fit-content;
    margin-left: -200px;
}
